<link rel="import" href="../bower_components/polymer/polymer.html" >
<!--component definition-->
<dom-module id="list-table">
    <style></style>
    <template>
        <h3>{{message}}</h3>
    </template>
</dom-module>

<script>
    Polymer({
        is:"list-table",
        properties:{
            message:{
                type:String,
                value:"Hello world from polymer"
            }
        },
        ready:function(){
            console.log("Hello from WC ready event");
        }
    });
</script>